@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');
header{
    margin-bottom: 100px;
}
.photo1{
    filter: brightness(50%);

}
.text1{ 
    font-size: 80px;
    margin-top: 60px;

}
