@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300&display=swap');
body{
    font-family:"Poppins";
    font-style: normal;
}
header{
    margin-bottom: 100px;
}
.photo1{
    filter: brightness(50%);
}
.text1{
    font-size: 70px ;
}
.text2{
     background-color: #F4FAFD;
     width:80%;
     
}
.explore{
    margin-bottom:150px;
}